/* Basic styles for the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #222831;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4);
}

#logo {
    color: #00ADB5;
    font-size: 24px;
    font-weight: bold;
}

/* Nav menu styles */
.nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    padding: 0 1.5em;
}

.nav-menu a.active {
    color: #00ADB5;
}

.nav-menu li a {
    color: #fff;
    position: relative;

}

/* Hover effect */
.nav-menu li a:hover {
    color: #00ADB5;
}

.nav-menu li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: #00ADB5;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-menu li a:hover::after,
.nav-menu li a.active::after {
    transform: scaleX(1);
}

/* Toggle button styles */
.nav-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-toggle-bar {
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .nav-menu {
        background-color: #222831;
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        gap: 8px;
        z-index: 10; /* Ensure navbar is on top */
    }

    .nav-menu.show {
        display: flex;
    
    }

    .nav-menu li {
        text-align: center;
    }

    .nav-toggle {
        display: flex;
    }
}
