<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity #7 - Yagluth's</title>
    <link rel="stylesheet" href="../../../static/css/main.css">
    <link rel="stylesheet" href="../../../static/css/nav.css">
    <link rel="icon" href="../../../static/assets/yagluth.ico" type="image/x-icon">    
    <script src="../../../static/js/nav.js"></script>
    <link rel="stylesheet" href="../../../static/css/actlist/act7.css">

</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <a href="../../index.html" id="logo">YAGLUTH's</a>

        <button class="nav-toggle" aria-label="Toggle navigation" onclick="toggleMenu()">
            <span id="indicator" class="nav-toggle-bar"></span>
            <span id="indicator" class="nav-toggle-bar"></span>
            <span id="indicator" class="nav-toggle-bar"></span>
        </button>

        <ul class="nav-menu">
            <li>
                <a class="dropdown-arrow" onclick="toggleSubMenu()">Activity lists</a>
                <ul class="sub-menus">
                    <li><a href="activity1.html">Activity #1</a></li>
                    <li><a href="activity2.html">Activity #2</a></li>
                    <li><a href="activity3.html">Activity #3</a></li>
                    <li><a href="activity4.html">Activity #4</a></li>
                    <li><a href="activity5.html">Activity #5</a></li>
                    <li><a href="activity6.html">Activity #6</a></li>
                    <li><a href="activity7.html" class="active">Activity #7</a></li>
                    <li><a href="activity8.html">Activity #8</a></li>
                </ul>
            </li>
            <li><a href="../developers.html">Developers</a></li>
        </ul>
    </nav>

    <!-- Main Panel -->
    <div class="main-panel">
        <div class="actBody">
            <div class="actTitle">
                <h1>Voice Control LED's</h1>
                <p>This activity involves controlling LEDs through voice commands for an interactive experience.</p>
            </div>

            <div class="container">
                <h1 id="subTitle">LEDs Display</h1>
                <div class="ledDisplays">
                    <div class="display">
                        <span id="indicatorGreen" class="dot" style="background-color: green;"></span>
                        <h2>GREEN</h2>
                    </div>
                    <div class="display">
                        <span id="indicatorRed" class="dot" style="background-color: red;"></span>
                        <h2>RED</h2>
                    </div>
                    <div class="display">
                        <span id="indicatorYellow" class="dot" style="background-color: yellow;"></span>
                        <h2>YELLOW</h2>
                    </div>
                    <div class="display">
                        <span id="indicatorBlue" class="dot" style="background-color: blue;"></span>
                        <h2>BLUE</h2>
                    </div>
                    <div class="display">
                        <span id="indicatorWhite" class="dot" style="background-color: white;"></span>
                        <h2>WHITE</h2>
                    </div>
                    <div class="display">
                        <span id="indicatorRGB" class="dot" style="background-color: green"></span>
                        <h2>RGB LED</h2>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="split">
                    <div class="left">
                        <h2>Voice Command</h2>
                        <div id="textpanel">
                            Voice commands are displayed here
                        </div>
                        <button id="start-btn">Push to talk</button>
                        <p id="commandFeedback"></p>
                    </div>
                    <div class="right">
                        <h3>Voice Command Guide</h3>
                    
                        <bold>Turn [color/all] LED [on/off] </bold>
                        <p>Example: "Turn red LED on."</p>
                        <p>Example: "Turn green LED off."</p>
                        <br>
                    
                        <bold>Change RGB LED Color</bold>
                        <p>Example: "Change RGB to blue."</p>
                        <p>Example: "Change RGB to red."</p>
                        <br>
                    
                        <bold>Blink [color/all] LED</bold>
                        <p>Example: "Blink yellow LED."</p>
                        <p>Example: "Blink all LEDs."</p>
                        <br>
                    
                        <bold>Stop blink [color/all] LED</bold>
                        <p>Example: "Stop blink blue LED."</p>
                        <p>Example: "Stop blink all LEDs."</p>
                        <br>
                    </div>
                    
                </div>
            </div>


        </div>


    </div>
    
    <script src="../../../static/js/act7.js"></script>
</body>
</html>
