<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity #4 - Yagluth's</title>
    <link rel="stylesheet" href="../../../static/css/main.css">
    <link rel="stylesheet" href="../../../static/css/nav.css">
    <link rel="icon" href="../../../static/assets/yagluth.ico" type="image/x-icon">
    <script src="../../../static/js/main.js"></script>
    <script src="../../../static/js/nav.js"></script>
    <link rel="stylesheet" href="../../../static/css/actlist/act4.css">
    <script src="../../../static/js/act4.js"></script>

    <!-- Raphael and justgage (for gauge) -->
    <script src="gauge/raphael.min.js"></script>
    <script src="gauge/justgage.js"></script>
    
</head>


<body>
    <nav class="navbar">
        <a href="../../index.html" id="logo">YAGLUTH's</a>

        <button class="nav-toggle" aria-label="Toggle navigation" onclick="toggleMenu()">
            <span class="nav-toggle-bar"></span>
            <span class="nav-toggle-bar"></span>
            <span class="nav-toggle-bar"></span>
        </button>

        <ul class="nav-menu">
            <li>
                <a class="dropdown-arrow" onclick="toggleSubMenu()" class="active">Activity lists</a>
                <ul class="sub-menus">
                    <li><a href="activity1.html">Activity #1</a></li>
                    <li><a href="activity2.html">Activity #2</a></li>
                    <li><a href="activity3.html">Activity #3</a></li>
                    <li><a href="activity4.html" class="active">Activity #4</a></li>
                    <li><a href="activity5.html">Activity #5</a></li>
                    <li><a href="activity6.html">Activity #6</a></li>
                </ul>
            </li>
            <li><a href="../developers.html">Developers</a></li>
        </ul>
    </nav>

    <div class="main-panel">
        <div class="actBody">
            <div class="actTitle">
                <h1>Gas and Vibration Sensor</h1>
                <p>This activity focuses on using an MQ-2 gas sensor for gas detection and SW-420 vibration sensor to monitor movement.</p>
            </div>
            <div class="actContent">
                <div class="panel Gas">
                    <h2 id="subTitle">MQ-2 Gas Sensor</h2>
                    <div class="split">                        
                        <div class="left">
                            <div id="gasGauge" class="gauge"></div>
                            <h2 id="gasAnalogValue">--</h2>
                            <h3 id="gasDescription">--</h3>
                        </div>
                        <div class="right">
                            <h4 style="color: #00bf63;">Normal (below 20 ppm):</h4>
                            <p>Gas concentration is within safe levels.</p>
                            <br>
                            <h4 style="color: #ffbd59;">Warning (20 - 60 ppm):</h4>
                            <p>Gas concentration is approaching a potentially unsafe level.</p>
                            <br>
                            <h4 style="color: #ff5757;">Danger (above 60 ppm):</h4>
                            <p>Gas concentration has reached a critical level and requires immediate action.</p>
                        </div>
                    </div>
                </div>

                <div class="panel Vibration">
                    <h2 id="subTitle">SW-420 Vibration Sensor</h2>
                    <div class="split">                            
                        <div class="left">
                            <div id="vibrationGauge" class="gauge"></div>
                            <h2 id="vibrationValue">--</h2>
                        </div>
                        <div class="right">
                            <h4 style="color: #00bf63;">No Vibration Detected:</h4>
                            <p>The sensor is not detecting any vibrations or movement, indicating a stable environment.</p>
                            <br>
                            <h4 style="color: #ff5757;">Vibration Detected:</h4>
                            <p>The sensor has detected vibrations, signaling potential motion or disturbances in the environment. Immediate attention may be required to assess the situation.</p>
                            <br>
                        </div>
                        
                    </div>
                </div>

                <div class="panel Chart">
                    <h2 id="subTitle">Gas and Vibration Chart</h2>
                    <div class="displayChart">
                        <canvas id="act4Chart"></canvas>
                        <p><strong>Figure 1:</strong> This graph displays the gas readings from the MQ-2 Gas sensor over the past minute.</p>
                    </div>
                </div>

                <div class="email">                    
                    <label for="email">Enter your email to receive notification: </label>        
                    <div class="emailAddress">                
                        <input type="email" id="email" name="email" placeholder="Enter your email">
                        <button type="submit" onclick="validateEmail()">Submit</button>
                    </div>
                </div>
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

                
            </div>
        </div>
    </div>
    <!-- Popup Notification -->
    <div class="popup" id="popup">
        <h2>Warning: High Sound and Rain Intensity Detected</h2>
        <p>An email notification has been sent.</p>
        <button class="close-btn" onclick="closePopup()">Close</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="../../../static/js/act4-charts.js"></script>
</body>
</html>
