<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming Soon - Yagluth's</title>
    <link rel="stylesheet" href="../../../static/css/main.css">
    <link rel="stylesheet" href="../../../static/css/actlist.css">
    <link rel="stylesheet" href="../../../static/css/nav.css">
    <script src="../../../static/js/nav.js"></script>
    <link rel="icon" href="../../../static/assets/yagluth.ico" type="image/x-icon">
</head>

<body>
    <nav class="navbar">

        <a href="../../index.html" id="logo">YAGLUTH's</a>

        <button class="nav-toggle" aria-label="Toggle navigation">
            <span class="nav-toggle-bar"></span>
            <span class="nav-toggle-bar"></span>
            <span class="nav-toggle-bar"></span>
        </button>

        <ul class="nav-menu">
            <li><a href="../../subpages/maindash.html">Main Menu</a></li>
            <li><a href="../activitylist.html" class="active">Activity lists</a></li>
            <li><a href="../developers.html">Developers</a></li>
        </ul>

    </nav>
    <div class="main">
        
    </div>
</body>
</html>
