*{
    font-family: "Helvetica", sans-serif;    
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}

body {
    font-family: "Helvetica", sans-serif;   
    background-color: #EEEEEE;
    color: #0a0a0a;
    overflow-x: hidden; /* This prevents the horizontal scroll bar */
}

li {
    list-style: none;
}

.activity-page {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #e4e4e4;
    text-align: center;
}

.activity-page h1 {
    margin-bottom: 20px;
}

.actBody{    
    margin: 0 auto;
    width: 95%;
    background-color: #dbdbdb;
    padding-bottom: 30px;
}

.actTitle{
    background-color: #5c5c5c;
    color: #f9f9f9;
    padding: 1.5rem;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100; /* Ensures it stays above other content */
}