.distanceReadings{
    padding: 5px;
    text-align: center;
    margin: 5px;
}
.dht22{
    display:flex;
    justify-content: center;

}
.distances{
    display: flex;
    justify-content: space-between;
}
.readings{
    padding: 50px;
}

.distanceBoard {
    display: flex;
    justify-content: space-evenly;  
}

.contentWrap{
    padding: 10px;
}

.distanceBoard{
    align-items: center;
}

.dropdown{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    border-radius: 5px;
}
.values{
    font-size: 1.5rem;
    text-align: center;
}





.notification-distance {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 10px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 200px;
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.notification-distance img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.notification-distance .message {
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
}

.notification.safe {
    background-color: #e0f7e9;
    color: #2e7d32;
}

.notification.safe .message {
    color: #2e7d32;
}

.notification.warning {
    background-color: #ffebee;
    color: #c62828;
}

.notification.warning .message {
    color: #c62828;
}

.notification.warning img {
    filter: hue-rotate(0deg); /* Optional: Customize buzzer_on color */
}

.notification.safe img {
    filter: hue-rotate(120deg); /* Optional: Customize buzzer_off color */
}

.bold-warning {
    font-weight: bold;
}

/* Legends Section */
.legends {
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-width: 250px;
}

.legends h5 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #232323;
}

.legends p {
    font-size: 16px;
    color: #191919;
    margin: 5px 0;
}

/* Color-coded levels */
.legend-level {
    font-weight: bold;
}

/* Color for 'Good' level */
.legend-level.good {
    color: #4caf50; /* Green */
}

/* Color for 'Safe' level */
.legend-level.safe {
    color: #ffc107; /* Yellow/Amber */
}

/* Color for 'Unsafe' level */
.legend-level.unsafe {
    color: #f44336; /* Red */
}
