

.mocamL {
    width: 40%;
}

.mocamR {
    width: 60%;
    padding: 10px;
}

.contenter{
    justify-content: center;
}

.sensorDisplay{
    width: 50%;
    background-color: #5c5c5c;
    color: #fff;
    text-align: center;
    padding: 15px 30px;
    margin: 5px;
    border-radius: 5px;
}

.sensorDisplay p{
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}

.sensorDisplay h2{
    margin-top: 10px;
}

.description{
    margin: 20px auto;
    text-align: center;
}
.statusBar{
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: space-between; /* Spaces out the #motionStatus and #buzzer */
    height: 40px; /* Ensures full height is used for centering */
    gap: 5px;
}

#captured {
    width: 100%;
    object-fit: cover;
    border: 3px solid #5c5c5c;
    box-sizing: border-box;
}


#motionStatus {
    background-color: #5c5c5c;
    color: #fff;
    text-align: center;
    width: 100%; /* Ensure it takes full width of its flex space */
    padding: 10px; /* Optional: Adds some padding around the text */
}

#buzzer {
    object-fit: cover;
    height: 40px;
    background-color: #5c5c5c;
}

#subStatus {
    text-align: center;
    margin: 10px;
}

.emailNotif{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    margin: 0 auto;
}