.actContent{
    background-color: #eeeeee;
    border-radius: 5px;
    padding-bottom: 20px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.panel{
    width: 80%;
    margin: 20px auto;
    padding: 30px;
}

.left{
    width: 60%;
}

.right{
    width: 40%;
}

.panel.Gas, .panel.Vibration{    
    border-bottom: #595959 1px solid;
}

#gasAnalogValue, #gasDescription, #vibrationValue{
    color: white;
    width: 80%;
    padding: 10px;
    border-radius: 3px;
    margin: 5px auto;
}

#gasAnalogValue, #vibrationValue{
    background-color: #595959;
    margin-bottom: 2px;
}
#gasDescription{
    background-color: #00bf63;
    cursor: pointer;
}

#gasLabel{
    border-radius: 5px;
    padding: 20px;
}



.meter-container {
    width: 300px;
    height: 150px;
    margin: 0 auto;
}

canvas {
    width: 100%;
}



/* Popup container - can be anything you want */
.popup {
    display: none;
    position: fixed;
    z-index: 999;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    color: #721c24;
    text-align: center;
    }

/* Popup message */
.popup h2 {
margin: 0;
font-size: 18px;
}

.popup p {
margin-top: 10px;
font-size: 14px;
}

/* Close button */
.close-btn {
margin-top: 15px;
padding: 8px 16px;
background-color: #721c24;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}