.actContent{
    background-color: #eeeeee;
    border-radius: 5px;
    padding-bottom: 20px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.values{
    width: 70%;
}

.soundValues{
    display: flex;
    gap: 5px;
}

#descriptions {
    width: 30%;
}


.holderS{
    color: white;
    width: 40%;
    padding: 10px;
    border-radius: 3px;
    margin: 5px auto;
}
.holder{
    color: white;
    width: 80%;
    padding: 10px;
    border-radius: 3px;
    margin: 5px auto;
}

.holderS{
    background-color: #595959;
    margin-bottom: 2px;
}

.holder.soundDescription, .holder.rainDescription{
    background-color: #00bf63;
}
