<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity - Yagluth's</title>
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="../../static/css/actlist.css">
    <link rel="stylesheet" href="../../static/css/nav.css">
    <script src="../../static/js/nav.js"></script>
    <link rel="icon" href="../../static/assets/yagluth.ico" type="image/x-icon">
</head>

<body>
    <nav class="navbar">
        <a href="../index.html" id="logo">YAGLUTH's</a>

        <button class="nav-toggle" aria-label="Toggle navigation" onclick="toggleMenu()">
            <span class="nav-toggle-bar"></span>
            <span class="nav-toggle-bar"></span>
            <span class="nav-toggle-bar"></span>
        </button>

        <ul class="nav-menu">
            <li>
                <a class="dropdown-arrow" onclick="toggleSubMenu()">Activity lists</a>
                <ul class="sub-menus">
                    <li><a href="activitylist/activity1.html">Activity #1</a></li>
                    <li><a href="activitylist/activity2.html">Activity #2</a></li>
                    <li><a href="activitylist/activity3.html">Activity #3</a></li>
                    <li><a href="activitylist/activity4.html">Activity #4</a></li>
                    <li><a href="#">Activity #5</a></li>
                    <li><a href="#">Activity #6</a></li>
                    <li><a href="#">Activity #7</a></li>
                    <li><a href="#">Activity #8</a></li>
                    <li><a href="#">Activity #9</a></li>
                    <li><a href="#">Activity #10</a></li>
                </ul>
            </li>
            <li><a href="../developers.html">Developers</a></li>
        </ul>
    </nav>
    <div class="main-panel">
        <div class="dashboard">
            <h1>Activity Dashboard</h1>
        
            <div class="card">
                <img src="../../static/assets/images/dhtsensors.jpg" alt="Activity 1" class="preview-image">
                <div class="card-content">
                    <h2>Humidity and Temperature Sensor</h2>
                    <p>Activity Number: 001</p>
                    <p class="description">This activity involves monitoring temperature and humidity levels over time using a DHT sensor.</p>
                    <a href="activitylist/activity1.html" class="activity-button">Go to Activity</a>
                </div>
            </div>
        
            <div class="card">
                <img src="../../static/assets/images/distance.jpg" alt="Activity 2" class="preview-image">
                <div class="card-content">
                    <h2>Distance Sensor</h2>
                    <p>Activity Number: 002</p>
                    <p class="description">This activity involves using an ultrasonic sensor to measure and display distance readings.</p>
                    <a href="activitylist/activity2.html" class="activity-button">Go to Activity</a>
                </div>
            </div>
        
            <div class="card">
                <img src="../../static/assets/images/motion.jpg" alt="Activity 3" class="preview-image">
                <div class="card-content">
                    <h2>Motion Sensor and Raspberry Pi Camera Module</h2>
                    <p>Activity Number: 003</p>
                    <p class="description">This activity involves detecting motion with a PIR sensor and capturing images with a Raspberry Pi Camera.</p>
                    <a href="activitylist/activity3.html" class="activity-button">Go to Activity</a>
                </div>
            </div>
        
            <div class="card">
                <img src="../../static/assets/images/gas.jpg" alt="Activity 4" class="preview-image">
                <div class="card-content">
                    <h2>Gas and Vibration Sensor</h2>
                    <p>Activity Number: 004</p>
                    <p class="description">This activity focuses on using an MQ-2 gas sensor for gas detection and SW-420  vibration sensor to monitor movement.</p>
                    <a href="activitylist/activity4.html" class="activity-button">Go to Activity</a>
                </div>
            </div>
        
            <div class="card">
                <img src="../../static/assets/images/comingsoon.jpg" alt="Activity 5" class="preview-image">
                <div class="card-content">
                    <h2>Sound and Raindrop Sensor</h2>
                    <p>Activity Number: 005</p>
                    <p class="description">This activity involves monitoring sound levels using a sound sensor and detecting moisture with a raindrop sensor.</p>
                    <a href="activitylist/comingsoon.html" class="activity-button">Go to Activity</a>
                </div>
            </div>
        
            <div class="card">
                <img src="../../static/assets/images/comingsoon.jpg" alt="Activity 6" class="preview-image">
                <div class="card-content">
                    <h2>GPS Module</h2>
                    <p>Activity Number: 006</p>
                    <p class="description">This activity involves tracking location data using a GPS module to capture real-time coordinates.</p>
                    <a href="activitylist/comingsoon.html" class="activity-button">Go to Activity</a>
                </div>
            </div>
        
            <div class="card">
                <img src="../../static/assets/images/comingsoon.jpg" alt="Activity 7" class="preview-image">
                <div class="card-content">
                    <h2>Voice Control LED's</h2>
                    <p>Activity Number: 007</p>
                    <p class="description">This activity involves controlling LEDs through voice commands for an interactive experience.</p>
                    <a href="activitylist/comingsoon.html" class="activity-button">Go to Activity</a>
                </div>
            </div>
        
            <div class="card">
                <img src="../../static/assets/images/comingsoon.jpg" alt="Activity 8" class="preview-image">
                <div class="card-content">
                    <h2>Text to Speech</h2>
                    <p>Activity Number: 008</p>
                    <p class="description">This activity focuses on converting text into audible speech using a text-to-speech module.</p>
                    <a href="activitylist/comingsoon.html" class="activity-button">Go to Activity</a>
                </div>
            </div>
        
            <div class="card">
                <img src="../../static/assets/images/comingsoon.jpg" alt="Activity 9" class="preview-image">
                <div class="card-content">
                    <h2>Object Detection</h2>
                    <p>Activity Number: 009</p>
                    <p class="description">This activity involves detecting and classifying objects using computer vision and machine learning techniques.</p>
                    <a href="activitylist/comingsoon.html" class="activity-button">Go to Activity</a>
                </div>
            </div>
        
            <div class="card">
                <img src="../../static/assets/images/comingsoon.jpg" alt="Activity 10" class="preview-image">
                <div class="card-content">
                    <h2>Face Recognition</h2>
                    <p>Activity Number: 010</p>
                    <p class="description">This activity explores the use of facial recognition technology for identifying and verifying individuals.</p>
                    <a href="activitylist/comingsoon.html" class="activity-button">Go to Activity</a>
                </div>
            </div>
        
        </div>
        
    </div>
</body>
</html>
